
form {
    display: flex;
    flex-direction: row;
    
}

input {
    max-width: 115px;
    height: 20px;
    margin-top: 5px;

    border: 1px solid black;
    border-radius: 5px;
}

button {
    margin-top: 28px;
    margin-left: 15px;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputBox:nth-child(n+1) {
    margin-left: 50px;
}